extends ../layouts/common.pug
block content
    h3 Sửa thông tin
    form(action="/homeworks/create", method="POST")
        .form-row.row-cols-3
            .col.form-group
                label Tên
                input.form-control(name='name', type='text', value=homework.name, required)
            .col.form-group
                label Ngày
                input.form-control(name='date', type='date', value=homework.date.toISOString().slice(0,10), required)
            .col.form-group 
                label Số câu
                input.form-control#total(name='total', type='number', value=homework.total)
        button.btn.btn-primary Lưu
        .alert.alert-warning chưa code lưu thông tin, test tính năng nhập điểm đi Đã
    
    h3 Nhập BTVN
    .modal.fade#update-modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p
                    form#form-update(action="")
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text BTVN
                            input.form-control.rounded-right#finish_count(type='number', placeholder='Không nhập gì là xóa', aria-describedby='basic-addon1')
                            .invalid-feedback#validate(style='display: none')
                        button.btn.btn-primary#submit-update.mr-2(type='submit') Lưu
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy

    .input-group.mb-3
        .input-group-prepend
            span#basic-addon1.input-group-text Lọc
        input.form-control#student-filter(type='text', placeholder='Tên, ID,...', aria-label='Username', aria-describedby='basic-addon1')

    table.table.table-hover#student-table
        thead
            tr
                th ID
                th Tên
                th BTVN
        tbody
            each student in homework.student
                tr
                    td= student.student_id.id
                    td= student.student_id.name
                    td= (student.finish_count != undefined) ? student.finish_count : 'Chưa nhập'
block script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    script(type='text/javascript', src='/student.filter.js')