extends ../layouts/common.pug
block content
    h3 Sửa thông tin
    form(action="/homeworks/edit", method="POST")
        .form-group
            label ID
            input.form-control(name='id', type='text', value= homework._id, readonly, required)
        .form-row.row-cols-1.row-cols-md-2
            .col.form-group
                label Tên
                input.form-control(name='name', type='text', value=homework.name, required)
            .col.form-group
                label Ngày
                input.form-control(name='date', type='date', value=homework.date.toISOString().slice(0,10), required)
        .form-row.row-cols-2
            .col.form-group 
                label Tổng số
                input.form-control#total(name='total', type='number', value=homework.total, inputmode='decimal')
            .col.form-group
                label Loại
                select.form-control(name="type", required)
                    option(hidden, selected)= homework.type
                    option BTVN
                    option KT15P
                    option KT50P
        .form-group
            label Ghi chú
            textarea.form-control(name="note")= homework.note
        .row.row-cols-3#navbar-bottom
            .col
                button.btn.btn-success.w-100 Lưu
            .col
                a.btn.btn-danger.w-100(href='/homeworks/delete/'+homework._id) Xóa
            .col
                a.btn.btn-light.w-100(href='/homeworks/view/'+homework._id) Trở về
    
    h3 Nhập BTVN
    .modal.fade#update-modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p
                    form#form-update(action="")
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text BTVN
                            input.form-control.rounded-right#finish_count(type='number', step='0.01', placeholder='Không nhập gì là xóa', aria-describedby='basic-addon1', inputmode="decimal")
                            .invalid-feedback#validate(style='display: none')
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text Ghi chú
                            input.form-control.rounded-right#note(type='text', placeholder='Không nhập gì là xóa', aria-describedby='basic-addon1')
                            .invalid-feedback#validate(style='display: none')
                        button.btn.btn-primary#submit-update.mr-2(type='submit') Lưu
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy

    .input-group.mb-3
        .input-group-prepend
            span#basic-addon1.input-group-text Lọc
        input.form-control#student-filter(type='search', placeholder='Tên, ID,...', aria-label='Username', aria-describedby='basic-addon1')

    table.table.table-hover#student-table
        thead
            tr
                th ID
                th Tên
                th Điểm
                th Ghi chú
        tbody
            each student in homework.student
                tr
                    td= student.student_id.id
                    td= student.student_id.name
                    td= student.finish_count
                    td= student.note
block script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    script(type='text/javascript', src='/student.filter.js')
    script(type='text/javascript', src='/homework.update.js')