extends ../layouts/common.pug
block header
    title Thông tin bài tập
block content
    h3 [#{homework.type}] #{homework.name}
    p Thời gian: #{homework.date.toISOString().slice(0,10)}
    p Tổng số: #{homework.total}
    p Lớp: 
        a(href="/classes/"+homework.class.name)= homework.class.name
    p Ghi chú
    p= homework.note
    .input-group.mb-3
        .input-group-prepend
            span#basic-addon1.input-group-text Lọc
        input.form-control#student-filter(type='text', placeholder='Tên, ID,...', aria-label='Username', aria-describedby='basic-addon1')
    .row.row-cols-3#navbar-bottom
        .col
            a.btn.btn-success.w-100(href='/homeworks/edit/'+homework._id) Cập nhật
        .col
            a.btn.btn-danger.w-100(href='/homeworks/delete/'+homework._id) Xóa
        .col
            button.btn.btn-light.w-100(onclick="window.history.back()") Quay lại

    table.table.table-hover.table-light#student-table.mt-2
        thead
            tr
                th.text-center ID
                    svg.ml-1.bi.bi-arrow-down-up(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd', d='M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z')
                th Tên
                    svg.ml-1.bi.bi-arrow-down-up(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd', d='M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z')
                th.text-center Điểm
                    svg.ml-1.bi.bi-arrow-down-up(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd', d='M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z')
                th.d-none.d-sm-block Ghi chú
        tbody
            each student in homework.student
                tr
                    td.text-center= student.student_id.id
                    td
                        a(href='/students/'+student.student_id.id)= student.student_id.name
                    td.text-center= (student.finish_count != undefined) ? Math.round(student.finish_count/homework.total*100)/10 : ''
                    td.d-none.d-sm-block= student.note
block script
    script(type='text/javascript', src='/student.filter.js')