extends ../layouts/common.pug
block content
    h3 #{homework.name}
    a.btn.btn-primary(href='/homeworks/edit/'+homework._id) Cập nhật
    p Thời gian: #{homework.date}
    p Số BTVN: #{homework.total}
    p Lớp: #{homework.class.name}
    table.table.table-hover
        thead
            tr
                th ID
                th Tên
                th Đã xong
        tbody
            each student in homework.student
                tr
                    td= student.student_id.id
                    td
                        a(href='/students/'+student.student_id.id)= student.student_id.name
                    td= (student.finish_count != undefined) ? student.finish_count+'/'+homework.total : 'Chưa nhập'