doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name='description', content='')
	meta(name='author', content='')
	block title
	title= title || 'WEB APP QUẢN LÝ HỌC SINH'
	// Custom fonts for this template
	link(href='//cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@8af0edd/css/all.css', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
	// Custom styles for this template
	link(href='/css/sb-admin-2.min.css', rel='stylesheet')
	block stylesheet
	block header
body#page-top.sidebar-toggled
	#wrapper
		// Sidebar
		ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion.toggled
			// Sidebar - Brand
			a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/dashboard')
				.sidebar-brand-icon
					i.fab.fa-quora
				.sidebar-brand-text.mx-3
					| VLSN
					sup 2.0.0
			// Divider
			hr.sidebar-divider.my-0
			// Nav Item - Dashboard
			li.nav-item(class=(breadcrumb[1]=='')?"active":"")
				a.nav-link(href='/dashboard')
					i.fas.fa-fw.fa-tachometer-alt
					span Trang Admin
			// Divider
			hr.sidebar-divider
			// Heading
			.sidebar-heading
				| Dữ liệu
			// Nav Item
			li.nav-item(class=(breadcrumb[1]=='students')?"active":"")
				a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseStudent', aria-expanded='true', aria-controls='collapseStudent')
					i.fas.fa-users.fa-cog
					span Học sinh
				#collapseStudent.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
					.bg-white.py-2.collapse-inner.rounded
						a.collapse-item(href='/students') Danh sách
						a.collapse-item(href='/students/create') Thêm HS mới
			// Nav Item
			li.nav-item(class=(breadcrumb[1]=='classes')?"active":"")
				a.nav-link.collapsed(href='/classes')
					i.fas.fa-chalkboard
					span Lớp học
			// 
			li.nav-item(class=(breadcrumb[1]=='records')?"active":"")
				a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseRecord', aria-expanded='true', aria-controls='collapseRecord')
					i.fas.fa-clipboard
					span Bản ghi
				#collapseRecord.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
					.bg-white.py-2.collapse-inner.rounded
						a.collapse-item(href='/records') Danh sách
						a.collapse-item(href='/records/create') Thêm mới
			//
			li.nav-item(class=(breadcrumb[1]=='lessons')?"active":"")
				a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseLesson', aria-expanded='true', aria-controls='collapseLesson')
					i.fas.fa-chalkboard-teacher
					span Trợ giảng
				#collapseLesson.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
					.bg-white.py-2.collapse-inner.rounded
						h6.collapse-header Dành cho trợ giảng
						a.collapse-item(href='/lessons') Danh sách
						a.collapse-item(href='/lessons/create') Thêm mới
						a.collapse-item(href='/lessons/analyse') Thống kê
						h6.collapse-header Dành cho học sinh
						a.collapse-item(href='/lessons/register') Đăng ký
			// Divider
			hr.sidebar-divider.d-none.d-md-block
			// Sidebar Toggler (Sidebar)
			.text-center.d-none.d-md-inline
				button#sidebarToggle.rounded-circle.border-0
		// End of Sidebar
		// Content Wrapper
		#content-wrapper.d-flex.flex-column
			// Main Content
			#content
				// Topbar
				nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
					// Sidebar Toggle (Topbar)
					button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
						i.fa.fa-bars
					// Topbar Search
					form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search(action="/students/search", method="GET")
						.input-group
							input.form-control.bg-light.border-0.small(name="name" type='text', placeholder='Tìm học sinh...', aria-label='Search', aria-describedby='basic-addon2')
							.input-group-append
								button.btn.btn-primary(type='submit')
									i.fas.fa-search.fa-sm
					// Topbar Navbar
					ul.navbar-nav.ml-auto
						// Nav Item - Search Dropdown (Visible Only XS)
						li.nav-item.dropdown.no-arrow.d-sm-none
							a#searchDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								i.fas.fa-search.fa-fw
							// Dropdown - Messages
							.dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
								form.form-inline.mr-auto.w-100.navbar-search(action="/students/search", method="GET")
									.input-group
										input.form-control.bg-light.border-0.small(name="name" type='text', placeholder='Tìm học sinh...', aria-label='Search', aria-describedby='basic-addon2')
										.input-group-append
											button.btn.btn-primary(type='button')
												i.fas.fa-search.fa-sm
						// Nav Item - Alerts
						li.nav-item.dropdown.no-arrow.mx-1
							a#alertsDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								i.fas.fa-bell.fa-fw
								// Counter - Alerts
								if messages && messages.length > 0
									span.badge.badge-danger.badge-counter= messages.length
							// Dropdown - Alerts
							.dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='alertsDropdown')
								h6.dropdown-header
									| Thông báo
								if (messages && messages.length > 0)
									each message in messages
										a.dropdown-item.d-flex.align-items-center(href= message[2] ? message[2]  : '#')
											.mr-3
												.icon-circle(class="bg-"+message[0])
													i.fas.fa-exclamation-triangle.text-white
											div
												span= message[1]
								else
									a.dropdown-item.d-flex.align-items-center
										.mr-3
											div Không có thông báo nào.
						.topbar-divider.d-none.d-sm-block
						// Nav Item - User Information
						if user
							li.nav-item.dropdown.no-arrow
								a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									span.mr-2.d-none.d-lg-inline.text-gray-600.small= user.username
									img.img-profile.rounded-circle(src='/img/logo.png')
								// Dropdown - User Information
								.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
									a.dropdown-item(href='#')
										i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
										|									 Trang cá nhân
									a.dropdown-item(href='#')
										i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
										|									 Sửa thông tin cá nhân
									a.dropdown-item(href='#')
										i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
										|									 Lịch sử hoạt động
									.dropdown-divider
									a.dropdown-item(href='#', data-toggle='modal', data-target='#logoutModal')
										i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
										|									 Logout
				// End of Topbar
				// Begin Page Content
				.container-fluid.mt-4
					nav(aria-label="breadcrumb").mb-2
						ol.breadcrumb.mb-0
							li.breadcrumb-item
								a(href='/dashboard') DASHBOARD
							- for (var i=1;i<breadcrumb.length;i++)
								li.d-inline-block.breadcrumb-item.text-truncate
									a(href=breadcrumb.slice(0,i+1).join('/'))= breadcrumb[i].toUpperCase()
					// /.container-fluid
					block content
				// End of Main Content
				// Footer
				footer.sticky-footer.bg-white
					.container.my-auto
						.copyright.text-center.my-auto
							span Copyright &copy; 2020 - Nguyễn Đăng Tuấn Anh
				// End of Footer
			// End of Content Wrapper
		// End of Page Wrapper
		// Scroll to Top Button
		a.scroll-to-top.rounded(href='#page-top')
			i.fas.fa-angle-up
		// Logout Modal
		#logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						h5#exampleModalLabel.modal-title Bỏ em à anh ơi?
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body Click "Đăng xuất" phía dưới là chúng ta không còn thấy mặt nhau nữa đâu :((
					.modal-footer
						button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
						a.btn.btn-primary(href='/auth/logout') Đăng xuất
		// Bootstrap core JavaScript
		script(src='/vendor/jquery/jquery.min.js')
		script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
		// Core plugin JavaScript
		script(src='/vendor/jquery-easing/jquery.easing.min.js')
		// Custom scripts for all pages
		script(src='/js/sb-admin-2.min.js')
		block script
