extends ../layouts/common.pug

mixin td-progress(value, total)
    td.p-1
        .progress(style='height: 2rem')
            .text-primary.progress-bar(style='width: '+value/total*100+'%;') #{value} PHÚT

block content
    form(action="/lessons/analyse", method="GET")
        .form-row.row-cols-2.mb-2
            .col
                label Bắt đầu
                input.form-control(name='start_date', type='date', value=start_date)
            .col
                label Kết thúc
                input.form-control(name='end_date', type='date', value=end_date)
        button.btn.btn-primary Xếp hạng
    .row.row-cols-md-2
        if topStudents.length > 0
            .col
                h3 Top #{topStudents.length} học sinh chăm chỉ
                table.table.table-hover
                    thead
                        tr
                            th #
                            th Tên
                            th.text-center Số buổi
                            th.text-center Số phút
                    each student, i in topStudents
                        tr(class=(i==0?'table-warning':''))
                            if i==0
                                td
                                    svg.bi.bi-trophy(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z')
                                        path(fill-rule='evenodd', d='M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z')
                                        path(d='M7 10h2v4H7v-4z')
                                        path(d='M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z')
                            else
                                td= i+1
                            td

                                a.text-dark(href='/students/'+student.student[0].id)= student.student[0].name
                            td.text-center= student.total
                            td.text-center= student.totalTimes
        else
            .alert.alert-warning Không có data cho khoảng thời gian này.
        if topHards.length > 0
            .col
                h3 Top #{topHards.length} học sinh chăm chỉ
                table.table.table-hover
                    thead
                        tr
                            th #
                            th Tên
                            th.text-center Số câu trung bình
                    each student, i in topHards
                        tr(class=(i==0?'table-warning':''))
                            if i==0
                                td
                                    svg.bi.bi-trophy(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z')
                                        path(fill-rule='evenodd', d='M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z')
                                        path(d='M7 10h2v4H7v-4z')
                                        path(d='M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z')
                            else
                                td= i+1
                            td

                                a.text-dark(href='/students/'+student.student[0].id)= student.student[0].name
                            td.text-center= Math.round(student.avgProblems)
        else
                .alert.alert-warning Không có data cho khoảng thời gian này.
    .row.row-cols-md-2
        .col
            if topDates.length > 0
                h3 Top #{topDates.length} ngày đông học sinh
                table.table.table-hover
                    thead
                        tr
                            th #
                            th Ngày
                            th.text-center Số phút
                            th.text-center Số buổi
                    each date, i in topDates
                        tr
                            td= i+1
                            td
                                a.text-dark(href='/lessons/'+date._id)= date._id
                            td.text-center= date.totalTimes
                            td.text-center= date.total
            else
                .alert.alert-warning Không có data cho khoảng thời gian này.
        .col
            if topDates.length > 0
                h3 Xếp hạng #{topDays.length} ngày trong tuần
                table.table.table-hover
                    thead
                        tr
                            th #
                            th Thứ
                            th.text-center Số phút
                            th.text-center Số buổi
                    each day, i in topDays
                        tr
                            td= i+1
                            td
                                if day._id > 1
                                    | Thứ #{day._id}
                                else
                                    | Chủ nhật
                            td.text-center= day.totalTimes
                            td.text-center= day.total
            else
                .alert.alert-warning Không có data cho khoảng thời gian này.
    if topHours.length > 0
        h3 Thống kê theo giờ
        table.table.table-hover
            thead
                tr
                    th Giờ
                    th Phần trăm
            tbody
                each hour in topHours
                    if hour.value == 0
                        - break
                    tr
                        td= hour.hour
                        +td-progress(hour.value,topHours[0].value)

