extends ../layouts/common.pug
mixin card-rating(rating, text_header='Đánh giá')
    if rating > 8
        .card.border-success.text-success
            h6.card-header.bg-success.text-white
                span.mr-1= text_header
                span.badge.badge-light= rating
            block
    else if rating > 6
        .card.border-info.text-info
            h6.card-header.bg-info.text-white
                span.mr-1= text_header
                span.badge.badge-light= rating
            block
    else if rating > 4
        .card.border-warning.text-warning
            h6.card-header.bg-warning.text-white
                span.mr-1= text_header
                span.badge.badge-light= rating
            block
    else if rating > 0
        .card.border-danger.text-danger
            h6.card-header.bg-danger.text-white
                span.mr-1= text_header
                span.badge.badge-light= rating
            block
    else
        .card
            h6.card-header= text_header
            block
block header
    title Chi tiết buổi trợ giảng
block content
    h3 Thông tin buổi trợ giảng
    .row.row-cols-2.row-cols-md-3.text-center
        .col-12.mb-2
            .card.border-info
                h6.card-header.bg-info.text-white Thông tin học sinh
                .card-body
                    a.mr-2(href="/students/"+lesson.student_id.id)= lesson.student_id.name
                    a.mr-2(href="/classes/"+lesson.student_id.classroom.name, class="badge badge-info")= lesson.student_id.classroom.name
                    if (lesson.student_id.tags)
                        br.d-inline.d-md-none
                        each tag in lesson.student_id.tags
                            a.badge.badge-danger.mr-1(href='/students/search?tag='+tag)= tag
        .col-12.mb-2
            .card
                h6.card-header
                    span.mr-2 Thời gian
                    if lesson.time.end_hour
                        span.badge.badge-info= lesson.time.end_hour*60 + lesson.time.end_minute - lesson.time.start_hour*60 - lesson.time.start_minute
                            |  phút
                .card-body
                    a.text-dark(href="/lessons/"+lesson.date)
                        b= lesson.getDetailedDate()
                        span : 
                        span= lesson.getDetailedTime()
        if (lesson.type)
            .col.mb-2
                .card
                    h6.card-header Loại
                    .card-body= lesson.type
                        if lesson.total_problems
                            span : #{lesson.total_problems} câu
        if (lesson.topic)
            .col.mb-2
                .card
                    h6.card-header Chủ đề
                    .card-body= lesson.topic
        if (lesson.rating)
            .col-12.mb-2
                +card-rating(lesson.rating)
                    .card-body
                        if (lesson.comment_of_tutor)
                            span= lesson.comment_of_tutor
                        else
                            b= lesson.rating
        if (lesson.comment_of_student)
            .col-12.mb-2
                .card
                    h6.card-header Góp ý của học sinh
                    .card-body= lesson.comment_of_student
        .col-12.mb-2
            .card
                h6.card-header
                    span.mr-1 Lần cuối cập nhật
                    span.badge.badge-info= lastUpdateTime + ' trước'
                if (lesson.last_update.user) 
                    .card-body
                        a.text-dark.mr-2(href='/user/'+lesson.last_update.user.username)= lesson.last_update.user.name
                        span.badge.badge-success= lesson.last_update.user.role.toUpperCase()
    .row.row-cols-3.text-center#navbar-bottom
        .col
            a.btn.btn-success.w-100(href='/lessons/edit/'+lesson._id) Sửa
        .col
            button.btn.btn-primary.w-100(onclick="window.history.back()") Quay lại
        .col
            a.btn.btn-danger.w-100(href='/lessons/delete/'+lesson._id) Xóa
                    
