extends ../layouts/common.pug

block content
    h4 Xem chi tiết buổi trợ giảng
    .card
        .card-header
            h5 Buổi trợ giảng #{lesson._id}
        .card-body
            .row
                .col Học sinh
                .col= lesson.student_id.name + ' - ' + lesson.student_id.classroom.name
            .row
                .col Thời gian học
                .col= lesson.time.start_hour + (lesson.time.start_minute<10?':0':':') + lesson.time.start_minute + (lesson.time.end_hour?' - ' + lesson.time.end_hour + (lesson.time.end_minute<10?':0':':') + lesson.time.end_minute:'')
                if (lesson.type)
                    .col Loại
                    .col= (lesson.type=='study')?'Lý thuyết':'Bài tập'
            if (lesson.topic)
                .row
                    .col Chủ đề
                    .col= lesson.topic
            if (lesson.comment_of_tutor)
                .row
                    .col Nhận xét
                    .col= lesson.comment_of_tutor
            if (lesson.comment_of_student)
                .row
                    .col Vấn đề học sinh
                    .col= lesson.comment_of_student
        a.btn.btn-success(href='/lessons/edit/'+lesson._id) Sửa
        a.btn.btn-danger(href='/lessons/delete'+lesson._id) Xóa
