extends ../layouts/common.pug

block content
    h1 Sửa thộng tin học sinh
    form(action="/students/edit", method="POST")
        .form-group
            label(for="id") ID
            input#id.form-control(name="id", type="number", value=student.id, readonly)
        .form-row
            .form-group.col-md-6
                label(for="name") Tên
                input#name.form-control(name="name", type="text", value=student.name)
            .form-group.col-md-6
                label Ngày sinh
                input.form-control(name="dob", type="date", value= student.dob ? student.dob.toISOString().slice(0,10) : '')
        .form-row
            .form-group.col-6
                label Lớp
                select.form-control(name="class")
                    option(selected, hidden, value=student.classroom._id)= student.classroom.name
                    each cla in classes
                        option(value=cla._id)= cla.name
            .form-group.col-6
                label Lớp luyện đề
                select.form-control(name="test_class")
                    if(student.test_class)
                        option(selected, hidden, value=student.test_class._id)= student.test_class._id
                    option(value="") Trống
                    each cla in testClasses
                        option(value=cla._id)= cla.name
        .form-group
            label Dán nhãn
            input.form-control(name='tags', type='text', value= student.tags ? student.tags.join(', ') : '', placeholder='mới, yếu,...')
            small.text-muted Mỗi tag cách nhau một dấu ","
        .form-group
            label.container-checkbox Còn học
                if (student.is_active)
                    input(name="is_active", type="checkbox", checked="checked")
                else
                    input(name="is_active", type="checkbox")
                span.checkmark
        .form-group
            label Ghi chú
            textarea.form-control(name="note")= student.note
        .row.row-cols-2
            .col
                button.btn.btn-primary.w-100 Lưu
            .col
                a.btn.btn-light.w-100(href="/students/"+student.id) Hủy