extends ../layouts/common.pug

block content
    h3 Danh sách học sinh
    form(action="/students/search", method="GET")
        .form-row
            .input-group.col-md-6.mb-3
                .input-group-prepend
                    span#inputGroup-sizing-default.input-group-text Tên
                input.form-control(name="name", type='text', value= name ? name : '', placeholder="Tìm bằng tên...")
            .input-group.col-md-3.mb-3
                .input-group-prepend
                    span#inputGroup-sizing-default.input-group-text ID
                input.form-control(name="id", type='number', value= id ? id : '', placeholder="Tìm bằng ID...")
            .col-md-3.mb-3
                select.form-control(name="class")
                    option(value=cla?cla:'', selected, hidden)= cla?cla:'Lớp'
                    each cla in classes
                        option= cla.name
        .row.row-cols-2
            .col
                button.btn.btn-primary.w-100(type='submit') Tìm kiếm
            .col
                a.btn.btn-primary.w-100(href='/students/create') Thêm HS
    if students.length == 0
        .alert.alert-warning Không có kết quả
    else
        table.table.table-hover.table-light
            thead
                tr
                    th ID
                    th Tên
                    th.d-none.d-md-block Ngày sinh
                    th Lớp
                    th.text-center
                        span.d-none.d-md-inline Thao tác
            tbody
                each student in students
                    tr
                        td= student.id
                        td
                            a.text-dark.mr-2(href='/students/'+student.id)= student.name
                            if (student.tags && user)
                                br.d-inline.d-md-none
                                each tag in student.tags
                                    a.badge.badge-danger.mr-1(href='/students/search?tag='+tag)= tag
                        td.d-none.d-md-block
                            if student.dob
                                span= student.dob.toISOString().slice(0,10)
                        td= student.classroom.name
                        td.text-center
                            .dropdown
                                button#dropdownMenuButton.btn.btn-light.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    a.dropdown-item(href="/students/" + student.id) Xem
                                    a.dropdown-item(href="/students/edit/" + student.id) Sửa
                                    a.dropdown-item(href='/students/delete/' + student.id) Xóa
    nav
        ul.pagination.justify-content-center
            if page > 1
                li.page-item
                    a.page-link(href='/students/?page='+(page-1), aria-label='Previous')
                        span(aria-hidden='true') &laquo;
            - for (var x = 1; x <= maxPage; x++)
                li.page-item(class=x==page?'active':'')
                    a.page-link(href='/students/?page='+x)= x
            if page < maxPage    
                li.page-item
                    a.page-link(href='/students/?page='+(page+1), aria-label='Next')
                        span(aria-hidden='true') &raquo;
