extends ../layouts/common.pug
mixin card-rating(rating, text_header)
    if rating=='Tốt'
        .card.border-success.text-success.h-100
            h6.card-header.bg-success.text-white= text_header
            block
    else if rating=='Khá'
        .card.border-warning.text-warning.h-100
            h6.card-header.bg-warning.text-white= text_header
            block
    else if rating=='Yếu'
        .card.border-danger.text-danger.h-100
            h6.card-header.bg-danger.text-white= text_header
            block
    else
        .card.h-100
            h6.card-header= text_header
            block
block content
    h5 Thông tin học sinh
    .row.row-cols-3.row-cols-md-4.text-center
        .col-12.mb-2
            .card.border-info.h-100
                h6.card-header.bg-info.text-white Họ tên
                b.card-body.text-info= student.name
        .col.mb-2
            .card.h-100
                h6.card-header Lớp
                .card-body
                    a.text-dark(href="/classes/"+student.classroom.name)= student.classroom.name
        .col.mb-2
            .card.h-100
                h6.card-header ID
                .card-body= student.id
        .col.mb-2
            .card.h-100
                h6.card-header Ngày sinh
                .card-body= student.dob.toLocaleDateString()        
    .row.row-cols-2.text-center
        .col.mb-2
            a.btn.btn-success.w-100(href="/students/edit/"+student.id) Sửa
        .col.mb-2
            a.btn.btn-danger.w-100(href="/students/delete/"+student.id) Xóa
    
    if (lessons.length>0)
        h5 Tình hình học trợ giảng
        .row.row-cols-1.row-cols-md-2.text-center
            .col.mb-2
                .card
                    h6.card-header.bg-info.text-white Tổng cộng
                    .card-body
                        h6 #{data.total} BUỔI - #{data.totalTimes} PHÚT
                        .progress(style="height: 2rem")
                            .progress-bar.bg-success(style="width: "+data.totalGoods/data.total*100+"%") Tốt
                            .progress-bar.bg-danger(style="width: "+data.totalBads/data.total*100+"%") Yếu
            .col.mb-2
                .card
                    h6.card-header.bg-info.text-white Tuần vừa qua
                    .card-body
                        h6 #{data.totalLW} BUỔI - #{data.totalTimesLW} PHÚT
                        .progress(style="height: 2rem")
                            .progress-bar.bg-success(style="width: "+data.totalGoodsLW/data.totalLW*100+"%") Tốt
                            .progress-bar.bg-danger(style="width: "+data.totalBadsLW/data.totalLW*100+"%") Yếu
        .row.row-cols-2.row-cols-md-6.text-center
            each lesson in lessons
                .col.mb-2
                    +card-rating(lesson.rating, lesson.date + ': ' + lesson.time.start_hour + (lesson.time.start_minute<10?':0':':') + lesson.time.start_minute + (lesson.time.end_hour? ' - ' + lesson.time.end_hour + (lesson.time.end_minute<10?':0':':') + lesson.time.end_minute : ''))
                        .card-body
                            if (lesson.type)
                                h6= lesson.type
                            if (lesson.topic)
                                h6 Chủ đề 
                                span= lesson.topic
                        .bg-light
                            a.text-muted(href="/lessons/view/"+lesson._id)
                                svg.bi.bi-grip-vertical(width='2em', height='2em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z')