extends ../layouts/common.pug
mixin card-rating(rating, text_header)
    if rating > 8
        .card.border-success.text-success
            h6.card-header.bg-success.text-white= text_header
            block
    else if rating > 6
        .card.border-info.text-info
            h6.card-header.bg-info.text-white= text_header
            block
    else if rating > 4
        .card.border-warning.text-warning
            h6.card-header.bg-warning.text-white= text_header
            block
    else if rating > 0
        .card.border-danger.text-danger
            h6.card-header.bg-danger.text-white= text_header
            block
    else
        .card
            h6.card-header= text_header
            block
block content
    h3 Thông tin học sinh
    .row.row-cols-2.row-cols-md-6.text-center
        .col-12.col-md-4.mb-2
            .card.border-info
                h6.card-header.bg-info.text-white Họ tên
                b.card-body.text-info= student.name
        .col.mb-2
            .card
                h6.card-header Lớp
                .card-body
                    a.text-dark(href="/classes/"+student.classroom.name)= student.classroom.name
        .col.mb-2
            .card
                h6.card-header ID
                .card-body= student.id
        if (student.dob)
            .col.mb-2
                .card
                    h6.card-header Ngày sinh
                    .card-body= student.dob.toISOString().slice(0,10)
        if (student.note)
            .col-12.col-md-4.mb-2
                .card
                    .card-body
                        h6.card-title Ghi chú
                        hr
                        span= student.note

    .row.row-cols-2.row-cols-md-3.mb-2
        .col.mb-2
            a.btn.btn-success.w-100(href="/students/edit/"+student.id) Sửa
        .col.mb-2
            a.btn.btn-danger.w-100(href="/students/delete/"+student.id) Xóa
        .col-12
            a.btn.btn-secondary.w-100(href="/lessons/create/?id="+student.id) Đăng ký trợ giảng
    hr
    if (lessons.length>0)
        h3 Tình hình học trợ giảng
        .row.row-cols-1.row-cols-md-2.text-center
            .col.mb-2
                +card-rating(data.totalRating/data.total, 'Tổng cộng')
                    .card-body
                        h6 #{data.total} BUỔI - #{Math.round(data.totalTimes/60*10)/10} GIỜ
                        .text-muted TB #{Math.round(data.totalTimes/data.total)} PHÚT/BUỔI
                            if (data.totalExercises)
                                |  - TB #{Math.round(data.totalProblems/data.totalExercises)} CÂU/BUỔI
                        .progress(style="height: 2rem; background-image: linear-gradient(to right, #60d394 "+data.totalRating/data.total*10+"%, #ee6055 100%);")
            .col.mb-2
                +card-rating(data.totalRatingLW/data.totalLW, 'Tuần vừa qua')
                    .card-body
                        h6 #{data.totalLW} BUỔI - #{Math.round(data.totalTimesLW/60*10)/10} GIỜ
                        .text-muted TB #{Math.round(data.totalTimesLW/data.total)} PHÚT/BUỔI
                            if (data.totalExercises)
                                |  - TB #{Math.round(data.totalProblems/data.totalExercises)} CÂU/BUỔI
                        .progress(style="height: 2rem; background-image: linear-gradient(to right, #60d394 "+Math.round(data.totalRatingLW/data.totalLW*10)+"%, #ee6055 100%);")
        .row.row-cols-2.row-cols-md-6.text-center
            each lesson in lessons
                .col.mb-2(data-toggle="tooltip", title=lesson.comment_of_tutor)
                    +card-rating(lesson.rating, lesson.date + ': ' + lesson.time.start_hour + (lesson.time.start_minute<10?':0':':') + lesson.time.start_minute + (lesson.time.end_hour? ' - ' + lesson.time.end_hour + (lesson.time.end_minute<10?':0':':') + lesson.time.end_minute : ''))
                        .card-body
                            if (lesson.type)
                                h6= lesson.type
                            if (lesson.topic)
                                h6 Chủ đề 
                                span= lesson.topic
                        .card-footer.p-0
                            a.text-muted(href="/lessons/view/"+lesson._id)
                                svg.bi.bi-grip-vertical(width='2em', height='2em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z')