extends ../layouts/common.pug
mixin btn-rating(rating)
    - var rating = rating != null ? Math.round(rating*10)/10 : -1
    if rating >= 8
        button.btn.btn-success.btn-circle.font-weight-bold= rating
    else if rating >= 6
        button.btn.btn-info.btn-circle.font-weight-bold= rating  
    else if rating >= 4
        button.btn.btn-warning.btn-circle.font-weight-bold= rating
    else if rating >= 0
        button.btn.btn-danger.btn-circle.font-weight-bold= rating
    else
        button.btn.btn-light.btn-circle.font-weight-bold
block title
    title #{student.name} | Thông tin học sinh
block stylesheet
    link(rel="stylesheet", href="/css/style.css")
    link(href='/vendor/datatables/dataTables.bootstrap4.min.css', rel='stylesheet')
    link(href='//cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css', rel='stylesheet')

block content
    h1.h3.text-gray-800 Thông tin chi tiết học sinh
    if (!student.is_active)
        .alert.alert-danger Học sinh này được đánh dấu là đã nghỉ.
    .row
        .col-md-4
            .card.shadow.mb-2.border-primary(style="border-width: 3px;")
                .card-body.p-0.text-center.mb-2
                    .bg-gradient-primary.pt-4.pb-2.mb-2.text-center
                        .rounded-border.pt-4.mx-auto
                            span= student.id
                    h5.text-gray-900.font-weight-bold.mb-1= student.name
                    if student.dob
                        p.m-0.text-gray-800= student.dob.toISOString().slice(0,10)
                    if (student.tags.length>0)
                        each tag in student.tags
                            a.badge.badge-secondary.mr-1(href='/students/search?tag='+tag)= tag
                    a.badge.badge-secondary(href="/classes/"+student.classroom.name)= student.classroom.name
                    if student.test_class
                        a.ml-1.badge.badge-secondary(href="/classes/"+student.test_class.name)= student.test_class.name
                    br
                    a.mx-1.my-1.btn.btn-success.btn-icon-split(href="/students/edit/"+student.id)
                        span.icon.text-white-50
                            i.fas.fa-user-cog
                        span.text Sửa
                    a.mx-1.my-1.btn.btn-danger.btn-icon-split(href="/students/delete/"+student.id)
                        span.icon.text-white-50
                            i.fas.fa-user-slash
                        span.text Xóa
        .col-md-8
            .row
                .col-6
                    .card.shadow.border-left-info.mb-2
                        .card-body
                            .row.no-gutters.align-items-center
                                .col.mr-2
                                    .text-xs.font-weight-bold.text-info.text-uppercase.mb-1 BTVN
                                    .h5.mb-0.font-weight-bold.text-gray-800= records.filter(record => record.type == 'BTVN').length
                                .col-auto
                                    a(href='/records')
                                        i(class=`fad fa-file-alt fa-2x text-gray-300`)
                .col-6
                    .card.shadow.border-left-success.mb-2
                        .card-body
                            .row.no-gutters.align-items-center
                                .col.mr-2
                                    .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 đề kiểm tra
                                    .h5.mb-0.font-weight-bold.text-gray-800= records.filter(record => record.type.indexOf('KT')>-1).length
                                .col-auto
                                    a(href='/records')
                                        i(class=`fad fa-clipboard fa-2x text-gray-300`)
                .col-6
                    .card.shadow.border-left-warning.mb-2
                        .card-body
                            .row.no-gutters.align-items-center
                                .col.mr-2
                                    .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 đề luyện
                                    .h5.mb-0.font-weight-bold.text-gray-800= records.filter(record => record.type.indexOf('TEST')>-1).length
                                .col-auto
                                    a(href='/records')
                                        i(class=`fas fa-clipboard fa-2x text-gray-300`)
                .col-6
                    .card.shadow.border-left-danger.mb-2
                        .card-body
                            .row.no-gutters.align-items-center
                                .col.mr-2
                                    .text-xs.font-weight-bold.text-danger.text-uppercase.mb-1 buổi TG
                                    .h5.mb-0.font-weight-bold.text-gray-800= lessons.length
                                .col-auto
                                    a(href="/lessons/create/?id="+student.id)
                                        i(class=`fad fa-chalkboard-teacher fa-2x text-gray-300`)
                if (student.note)
                    .col
                        .card.shadow.border-left-primary.mb-2
                            .card-body
                                .row.no-gutters.align-items-center
                                    .col.mr-2
                                        .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Ghi chú
                                        .h5.mb-0.font-weight-bold.text-gray-800= student.note
                                    .col-auto
                                        i.fad.fa-sticky-note.fa-2x.text-gray-300
            
    .card.shadow.mb-2
        a.d-block.card-header.py-3.collapsed(href="#filterForm" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="filterForm")
            h6.m-0.font-weight-bold.text-primary
                i.fas.fa-search-plus
                |   Lọc theo thời gian
        .collapse#filterForm
            .card-body
                form(action="", method="")
                    .form-row.row-cols-2.mb-2
                        .col
                            label Bắt đầu
                            input#start-time.form-control(type='date')
                        .col
                            label Kết thúc
                            input#end-time.form-control(type='date')
    if (records.length>0)
        .card.shadow.mb-2
            .card-header.py-3
                h6.text-primary.m-0.font-weight-bold Bản ghi
            .card-body.px-0
                table.table.w-100.responsive.database-table
                    thead.text-center
                        tr
                            th(data-priority="-1") Loại
                            th(data-priority="-1") Ngày
                            th Chủ đề
                            th(data-priority="-1") Điểm
                            th Ghi chú
                            th
                    tbody
                        each record in records
                            tr(data-date= record.date.toISOString().slice(0,10))
                                td.align-middle.text-center= record.type
                                td(data-order=record.date).align-middle.text-center
                                    a#simpleDate(href='/records/'+record._id)= record.date.toISOString().slice(0,10)
                                td.align-middle= record.name
                                td.align-middle.text-center
                                    +btn-rating(record.mark)
                                td.align-middle= record.note
                                td
    if (lessons.length>0)
        .card.shadow.mb-2
            .card-header.py-3
                h6.text-primary.m-0.font-weight-bold Học trợ giảng
            .card-body.px-0
                table.table.w-100.database-table
                    thead
                        tr
                            th(data-priority="-1").text-center
                                .d-none.d-md-block Loại
                            th(data-priority="-1").text-center
                                span.d-none.d-md-inline.ml-2 Thời gian

                            th Chủ đề
                            th(data-priority="-1").text-center Điểm
                            th Ghi chú
                            th
                    tbody
                        each lesson in lessons
                            tr(data-date= lesson.date)
                                td.align-middle.text-center
                                    if (lesson.type=='Lý thuyết')
                                        i.fas.fa-book.fa-lg
                                    else if (lesson.type=='Bài tập')
                                        i.fas.fa-calculator.fa-lg
                                    else
                                        i.fas.fa-question-circle.fa-lg
                                td.align-middle.text-center
                                    a(href="/lessons/" + lesson.date + '/' + lesson._id)
                                        b= lesson.getDetailedDate()
                                        span.d-none.d-md-inline= ': ' + lesson.getDetailedTime()
                                td.align-middle= lesson.topic
                                td.align-middle.text-center
                                    +btn-rating(lesson.rating)
                                td= lesson.comment_of_tutor
                                td

block script
    script(type='text/javascript', src='/table.sort.js')
    script(type='text/javascript', src='/time.convert.js')
    script(src="/vendor/datatables/jquery.dataTables.min.js")
    script(src="/vendor/datatables/dataTables.bootstrap4.min.js")
    script(src="//cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js")
    script(src="//cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js")
    script(src="/js/datatables/locale.sorting.js")
    script(type='text/javascript', src='/js/datatables/common.js')
    script(type='text/javascript', src='/js/datatables/table.filter.js')
    
