extends ../layouts/common.pug
mixin btn-rating(rating)
    - var rating = rating != '' ? Math.round(rating*10)/10 : -1
    if rating >= 8
        button.btn.btn-success.btn-circle= rating
    else if rating >= 6
        button.btn.btn-info.btn-circle= rating  
    else if rating >= 4
        button.btn.btn-warning.btn-circle= rating
    else if rating >= 0
        button.btn.btn-danger.btn-circle= rating
    else
        button.btn.btn-light.btn-circle
block header
    title [#{record.type}] #{record.name}
block stylesheet
    link(rel="stylesheet", href="/css/style.css")
    link(href='/vendor/datatables/dataTables.bootstrap4.min.css', rel='stylesheet')
    link(href='//cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css', rel='stylesheet')

block content
    h1.h3.text-gray-800 Thông tin chi tiết bản ghi
    .row
        .col-md-4
            .card.shadow.mb-2.border-primary(style="border-width: 3px;")
                .card-body.p-0.text-center
                    .bg-gradient-primary.pt-4.pb-2.text-center
                        .display-4.text-white= record.type
                    .p-2
                        h5.text-gray-900.font-weight-bold.mb-1= record.name
                        a.h5.text-gray-900(href="/classes/"+record.class.name)= record.class.name
                        br
                        h5.text-gray-900= record.getDetailedDate()
                        a.mx-1.my-1.btn.btn-success.btn-icon-split(href="/records/"+record.id+"/edit")
                            span.icon.text-white-50
                                i.fas.fa-edit
                            span.text Sửa
                        a.mx-1.my-1.btn.btn-danger.btn-icon-split(href="/records/"+record.id+"/delete")
                            span.icon.text-white-50
                                i.fas.fa-trash
                            span.text Xóa
            if record.note
                .card.shadow.border-left-primary.mb-2
                    .card-body
                        .row.no-gutters.align-items-center
                            .col.mr-2
                                .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Ghi chú
                                .h5.mb-0.text-gray-800= record.note
                            .col-auto
                                i.fas.fa-sticky-note.fa-2x.text-gray-300
        .col-md-4
            .row
                .col-6.col-md-12
                    .card.shadow.border-left-primary.mb-2
                        .card-body
                            .row.no-gutters.align-items-center
                                .col.mr-2
                                    .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Thang điểm
                                    .h5.mb-0.font-weight-bold.text-gray-800= record.total
                                .col-auto
                                    i.fad.fa-marker.fa-2x.text-gray-300
                .col-6.col-md-12
                    .card.shadow.border-left-primary.mb-2
                        .card-body
                            .row.no-gutters.align-items-center
                                .col.mr-2
                                    .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Số HS
                                    .h5.mb-0.font-weight-bold.text-gray-800= record.student.length
                                .col-auto
                                    i.fad.fa-users.fa-2x.text-gray-300
                .col-12.col-md-12
                    .card.shadow.border-left-primary.mb-2
                        .card-body
                            .row.no-gutters.align-items-center
                                .col.mr-2
                                    .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Điểm trung bình
                                    .h5.mb-0.font-weight-bold.text-gray-800= Math.round(record.getAverageMark()*10)/10
                                        sup.text-xs.text-primary= "(" + Math.round(record.getAverageMark()/10*record.total) + ")"
                                .col-auto
                                    i.fad.fa-users.fa-2x.text-gray-300
        .col-md-4
            .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                    h6.m-0.font-weight-bold.text-primary
                        i.fad.fa-chart-pie-alt
                        |   Tỷ lệ
                // Card Body
                .card-body
                    .chart-pie
                        canvas#myPieChart(data-array=record.getPieChartData())

    table.table.w-100.database-table
        thead
            tr
                th.text-center ID
                th(data-priority="-1" data-type="vn-str") Tên
                th(data-priority="-1").text-center Điểm
                th Ghi chú
                th
        tbody
            each student in record.student
                tr
                    td.align-middle.text-center= student.student_id.id
                    td.align-middle(data-order=student.student_id.name.trim().split(" ").reverse().join(" "))
                        a(href='/students/'+student.student_id.id)= student.student_id.name
                    td.align-middle.text-center
                        +btn-rating(student.finish_count != undefined ? student.finish_count/record.total*10 : '')
                    td.align-middle= student.note
                    td
    if record.link
        .col.mb-2
            .card
                h6.card-header Đề
                iframe.w-100(height='600', src=record.link)
block script
    script(src="/vendor/chart.js/Chart.min.js")
    script(src="/js/demo/chart-pie-demo.js")
    script(src="/vendor/datatables/jquery.dataTables.min.js")
    script(src="/vendor/datatables/dataTables.bootstrap4.min.js")
    script(src="//cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js")
    script(src="//cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js")
    script(src="/js/datatables/locale.sorting.js")
    script(type='text/javascript', src='/js/datatables/common.js')