extends ../layouts/common.pug
block content
    h3 Danh sách buổi trợ giảng đã đăng ký trên thiết bị này
    a.btn.btn-primary.mb-2(href='/lessons/register') Đăng ký
    if lessons.length > 0
        .row.row-cols-1.row-cols-md-4
            each lesson in lessons
                .col.mb-2(alt='Abcsff')
                    .card.text-center
                        .card-header
                            b Ngày #{lesson.date.slice(8,10)} tháng #{lesson.date.slice(5,7)}
                        .card-body.p-1
                            b Thời gian
                            .text-muted= lesson.time.start_hour + (lesson.time.start_minute<10?':0':':') + lesson.time.start_minute + (lesson.time.end_hour?' - ' + lesson.time.end_hour + (lesson.time.end_minute<10?':0':':') + lesson.time.end_minute:'')
                            if lesson.type
                                b= lesson.type
                                if (lesson.topic)
                                    span= ': ' + lesson.topic
    else
        .alert.alert-warning Trên thiết bị này không lưu lại buổi trợ giảng nào.
