extends ../layouts/common.pug

block title
    title Sửa lớp #{classroom.name}
block content
    h1.h3.text-gray-800 Lớp #{classroom.name}
    form(action="/classes/"+classroom._id+"/edit", method="POST")
        .form-group
            label Tên
            input.form-control(name='name', type='text', value=classroom.name, required)
        .form-row
            .col.form-group
                label Trợ giảng chính
                select.form-control(name="main_tutor")
                    if classroom.main_tutor
                        option(value=classroom.main_tutor._id selected)= classroom.main_tutor.name
                    option(value="") Trống
                    each user in users
                        option(value=user._id)= user.name
            .col.form-group
                label Trợ giảng phụ
                select.form-control(name="side_tutor")
                    if classroom.side_tutor
                        option(value=classroom.side_tutor._id selected)= classroom.side_tutor.name
                    option(value="") Trống
                    each user in users
                        option(value=user._id)= user.name
        .form-group
            label Ghi chú
            textarea.form-control(name="note")= classroom.note
        button.mx-1.my-1.btn.btn-success.btn-icon-split(type="submit")
            span.icon.text-white-50
                i.fas.fa-save
            span.text Lưu